@use '../../scss/util' as u;

nav {
    padding: 1rem;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: u.$lightCyan;
}

.username { 
    text-decoration: none;
    color: #FFF;
    font-family: u.$font;
    font-size: 1.0625em;
    font-weight: 500;
}

.logout-button {
    background-color: #FFF;
    padding: .5rem 2rem;
    border-radius: .375rem;
}
