@use '../../../../scss/util' as u;

.text-area {
    width: 100%;
    padding: .9rem;
    font-size: 1em;
    font-family: u.$font;
    font-weight: 400;
    color: u.$dark;
    border: 1px solid u.$semiDark;
    border-radius: 0;
    resize: none;
    border-radius: .5rem;

    @include u.breakpoint(medium) {
        font-size: 1.3em;
    }
}

.text-area:focus {
    outline: none;
}

.span-two {
    @include u.breakpoint(medium) {
        grid-column: span 2
    }
}